*, *::before, *::after { box-sizing: border-box; }

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* { margin: 0; padding: 0; }

body {
  min-width: 320px;
  min-height: 100vh;
  background: #0d0d1a;
}

#app {
  width: 100%;
  min-height: 100vh;
}
